@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

body {
    width: 100vw;
    height: 100vh;
    background-color: #007bff;
}

header {
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

header > img {
    width: 60px;
    height: 50px;
}

header > h1 {
    color: white;
    font-size: 2.5rem;
    margin-left: 10px;
}


main{
    width: 100vw;
    height: 90vh;
    min-height: 450px;
}

main > div {
    height: 400px;
    width: 300px;
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div > h1 {
    margin-bottom: 32px;
    font-size: 2.5rem;
}

main > div > form {
    width: 100%;
    flex-direction: column;
}

main > div > form > input {
    height: 48px;
    width: 100%;
    padding-left: 8px;
    border: unset;
    outline: none;
    margin-bottom: 10px;
}

main > div > form > button {
    height: 48px;
    width: 100%;
    padding-left: 8px;
    background: #007bff;
    background-size: 200%;
    margin-bottom: 32px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
}

main > div > form > button:hover {
    box-shadow: 3px 3px 10px black;
    letter-spacing: 1px;
}

main > div > form > button:disabled {
    background: #acacac;
    cursor: not-allowed;
}

main > div > form > span {
    height: 2px;
    width: 100%;
    margin-bottom: 16px;
    background-color: rgba(4,0,255,1);
    transition: .3s ease-in-out;
  }

 main > div > form > a {
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
  }

 main > div > form > a:hover {
      color: red;
  }
  
 .error {
      background-color: red;
    }

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}