@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fonte: #abb8c5;
  --azul: #0507d4;
  --fundo: #edf0f7;
  --branco: #fff;
  --preto: #000;
}

main {
  background: var(--fundo);
  width: 100vw;
  height: 100vh;
}

main > div {
  width: 88vw;
  height: 88vh;
}

h1 {
  color: var(--branco);
  font-size: 4rem;
  font-family: poppins;
  margin-bottom: 4rem;
}

p {
  color: var(--preto);
  width: 35vw;
  height: 20vh;
  background: var(--branco);
  border-radius: 15px;
  font-family: Arial;
  font-size: 12pt;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.form {
  width: 44vw;
  height: 88vh;
  background: var(--branco);
  flex-direction: column;
  border-radius: 20px 0 0 20px;
}

.logo {
  width: 44vw;
  background: var(--azul);
  height: 88vh;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
}

.txt {
  color: var(--preto);
  font-size: 2rem;
  font-family: poppins;
}

.txt2 {
  color: var(--fonte);
  font-family: poppins;
}

form {
  flex-direction: column;
}

input {
  height: 2rem;
  width: 30vw;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding-left: 5px;
  font-family: poppins;
}

#botao {
  background-color: var(--azul);
  color: var(--branco);
  width: 30vw;
  height: 30px;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border-style: none;
  font-family: poppins;
}

label {
  color: var(--fonte);
  padding-left: 10px;
  font-family: poppins;
}

#ref {
  display: flex;
  justify-content: center;
  align-items: center;
}